body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color:black;
    background-color: lightsalmon;
    
}
.Header-styles{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    flex: auto;
    background-color: orangered;
}
.btn-primary{
    padding: 0.7em;
    margin-top: 0.3em;
    margin-left: 0.3em;
}
#main-section-heading{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}
.Shop-item{
    background-color: beige;
    border: 1px solid teal;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    overflow: hidden;
}
h1{
    font-size: 2em;
    padding: 0.2em;
}
.shop-section{
    margin-top: 1em;
}
.photo{
    transition: transform 0.4s;
}
.photo:hover{
    transform: scale(1.5);
}
button{
    margin: 1em;
}
form{
    background-color: aquamarine;
}
.form1{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: black;
}
@media (max-width:767px) {
    .form1{
        display: flex;
        flex-direction: column;
    }
}
:focus-visible{
    outline: 1px solid red;
}